<section class='text-gray-600 md:mt-35'>
  <div
    class='max-w-7xl container mx-auto flex px-5 py-24 md:flex-row flex-col items-center'
  >
    <div
      class='lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center'
    >
      <h1 class='font-sans sm:text-3xl text-2xl mb-4 font-medium text-gray-900'>
        About University and Department
      </h1>
      <p class='mb-8 leading-relaxed'>
        <a
          href='https://www.knu.ac.in/'
          class='border-(b-2 dashed gray-900) text-gray-900'
          >Kazi Nazrul University (KNU)</a
        > is an emerging institution offering diverse diploma, undergraduate, and
        postgraduate programs across faculties such as Arts, Science & Technology,
        Law, and Commerce & Management. With a focus on knowledge, skill development,
        and global connections, KNU aims to inspire, innovate, inculcate, and integrate.
        The Department of Metallurgical Engineering at KNU provides diploma and B.Tech.
        programs approved by AICTE, fostering collaborative research and industry
        partnerships for practical learning experiences.
      </p>
      <a
        href='/about'
        class='flex items-center text-blue-4 hover:text-blue-5 border-b-1 border-dashed border-blue-4 hover:border-blue-5'
        >Read More <div class='ml-4 i-iconoir-arrow-right'></div>
      </a>
    </div>
    <div class='lg:max-w-lg lg:w-full md:w-1/2 w-5/6'>
      <img
        class='object-cover object-center rounded'
        alt='hero'
        src='/assets/images/knu2.webp'
      />
    </div>
  </div>
</section>
