<section class='text-gray-600 bg-blue-2/20'>
  <div class='max-w-7xl container px-5 py-24 mx-auto'>
    <div class='flex flex-wrap -mx-4 -mb-10 text-center'>
      <div class='sm:w-1/2 mb-10 px-4'>
        <div class='rounded-md h-64 overflow-hidden'>
          <img
            alt='content'
            class='object-cover object-center h-full w-full'
            src='/assets/images/dhokra.webp'
          />
        </div>
        <h2 class='font-sans text-2xl font-medium text-gray-900 mt-6 mb-3'>
          Special Attraction
        </h2>
        <p class='leading-relaxed text-base'>
          We would like to come forward to help with Dokra Metal Craft which is
          situated in Bikna village in Bankura. We want that people take more of
          it in future and not to push their traditional heritage towards
          extinction. We have seen that most of the people in Bikna village
          depend on this for their livelihood and both of their sales and profit
          margins have decreased a lot. So, It should be the moral
          responsibility of every human being to preserve the heritage.
        </p>
      </div>
      <div class='sm:w-1/2 mb-10 px-4'>
        <div class='rounded-md h-64 overflow-hidden'>
          <img
            alt='content'
            class='object-cover object-center h-full w-full'
            src='/assets/images/souvenir.webp'
          />
        </div>
        <h2 class='font-sans text-2xl font-medium text-gray-900 mt-6 mb-3'>
          Souvenir
        </h2>
        <p class='leading-relaxed text-base'>
          During ICPMMM2024, a souvenir will be released by the Chief Patron on
          <span class='border-(b-2 dashed gray-900) text-gray-900'
            >20th March, 2024</span
          >. The Souvenir will contain messages from Govt.functionaries and
          Eminent professionals, special articles, ATM event details, details
          about various committees, awards, sponsors/supporters and
          advertisements from various industries, organizations from India and
          abroad. The soft copy of the souvenir will be provided to all the
          delegates attending the event. Limited high qualityhard copies will be
          printed for distribution to Govt. agencies, Industries, R&D labs and
          Academic Institutions.
        </p>
      </div>
    </div>
  </div>
</section>
