<section class='text-gray-600 bg-blue-2/20'>
  <div class='max-w-7xl container px-5 py-24 mx-auto'>
    <div class='flex flex-wrap -mx-4 -mb-10 text-center'>
      <div class='sm:w-1/2 mb-10 px-4'>
        <div class='rounded-md h-64 overflow-hidden'>
          <img
            alt='content'
            class='object-cover object-center h-full w-full'
            src='/assets/images/dhokra.webp'
          />
        </div>
        <h2 class='font-sans text-2xl font-medium text-gray-900 mt-6 mb-3'>
          Special Attraction
        </h2>
        <p class='leading-relaxed text-base'>
          We would like to come forward to promote the <mark
            style='background-color:#A6F6FF;color: #000000;'>Dokra Art</mark
          > which is an ancient and traditional metalcraft practiced in many parts
          of India, including West Bengal. Unfortunately, however, this special art
          form is struggling for its existence due to various socio-economic reasons.
          We want to create a wider awareness among various socio-economic strata
          to take interest in this unique metalcraft that will help the Indian metallurgical
          heritage survive and flourish. We are planning to give a piece of Dokra
          casting to each participant as a memento.
        </p>
      </div>
      <div class='sm:w-1/2 mb-10 px-4'>
        <div class='rounded-md h-64 overflow-hidden'>
          <img
            alt='content'
            class='object-cover object-center h-full w-full'
            src='/assets/images/souvenir.webp'
          />
        </div>
        <h2 class='font-sans text-2xl font-medium text-gray-900 mt-6 mb-3'>
          Souvenir
        </h2>
        <p class='leading-relaxed text-base'>
          During ICPMMM2024, a Souvenir will be released. The Souvenir will
          contain messages from Govt. functionaries and eminent professionals,
          special articles, event details, details about various committees,
          sponsors/supporters and advertisements from various industries,
          organizations from India and abroad. <br />
          The soft copy of the souvenir will be provided to all the delegates attending
          the event. Limited high quality hard copies will be printed for distribution
          to Govt. agencies, Industries, R&D labs and Academic Institutions.
        </p>
      </div>
    </div>
  </div>
</section>
