<section class='text-gray-600 body-font'>
  <div class='container px-5 py-12 mx-auto'>
    <div class='flex flex-col text-center w-full mb-5'>
      <h1 class='sm:text-3xl text-3xl font-medium title-font mb-4 text-zinc-6'>
        Committees for ICPMMM2024
      </h1>
    </div>
    <!-- Patrons Section -->
    <div class='flex flex-col'>
      <h1 class='text-3xl text-center my-8 text-black font-bold'>Patrons</h1>
      <div class='flex flex-wrap -m-2'>
        <!-- Each Card Start-->
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <!-- Profile image for each cards -->
            <!-- <img
              alt='team'
              class='w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4'
              src='https://dummyimage.com/80x80'
            /> -->
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Prof. (Dr.) Debashish Bandyopadhyay
              </h2>
              <p class='text-gray-500'>
                Vice Chancellor, Kazi Nazrul University
              </p>
            </div>
          </div>
        </div>
        <!-- Each Card End -->
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Dr. Chandan Konar
              </h2>
              <p class='text-gray-500'>Registrar, Kazi Nazrul University</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Prof. (Dr.) Santanu Kumar Ghosh
              </h2>
              <p class='text-gray-500'>
                Dean Faculty of Science and Technology, KNU
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Chairman Section -->
    <div class='flex flex-col'>
      <h1 class='text-3xl text-center my-8 text-black font-bold'>Chairman</h1>
      <div class='flex flex-wrap -m-2 justify-center items-center'>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Prof. (Dr.) Projjal Basu
              </h2>
              <p class='text-gray-500'>Professor, Kazi Nazrul University</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Advisory Committee -->
    <div class='flex flex-col'>
      <h1 class='text-3xl text-center my-8 text-black font-bold'>
        Advisory Committee
      </h1>
      <!-- International -->
      <p
        class='flex flex-col justify-center items-center text-2xl font-bold pb-4'
      >
        International
      </p>
      <div class='flex flex-wrap -m-2 justify-center items-center'>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Prof. Ir. Dr. Cheong Kuan Yew
              </h2>
              <p class='text-gray-500'>Universiti Sains Malaysia</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Ts. Dr. Teo Pao Ter
              </h2>
              <p class='text-gray-500'>Universiti Malaysia Kelantan</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Dr Samayamutthirian Palaniandy
              </h2>
              <p class='text-gray-500'>
                GM, Eirich Australia/Global Product Manager (TowerMill)
              </p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Prof Elizabeth Makhatha
              </h2>
              <p class='text-gray-500'>HOD, Metallurgy, Univ Johannesburg</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Mr. Ram Chandra Chakraborty
              </h2>
              <p class='text-gray-500'>MD, PSI Metals India Private Limited</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Dr. Anrin Bhattacharya
              </h2>
              <p class='text-gray-500'>CEO, RECYRON, Austria</p>
            </div>
          </div>
        </div>
      </div>

      <!-- National -->
      <p
        class='flex flex-col justify-center items-center text-2xl font-bold py-6'
      >
        National
      </p>
      <div class='flex flex-wrap -m-2 justify-center items-center'>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Prof. Rajeev Ahuja
              </h2>
              <p class='text-gray-500'>Director, IIT Ropar</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Prof. Pravas Chandra Chakraborti
              </h2>
              <p class='text-gray-500'>
                HOD, Metallurgy Department, Jadavpur University
              </p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Mr. Arup Krishna Saha
              </h2>
              <p class='text-gray-500'>
                COO, MINEX Metallurgical Company Limited
              </p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Prof. Sumantra Bhattacharya
              </h2>
              <p class='text-gray-500'>Emeritus Fellow, IIT Dhanbad</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Prof. Govind S. Gupta
              </h2>
              <p class='text-gray-500'>IISc Bangalore</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Dr. Ashis Bhaduri
              </h2>
              <p class='text-gray-500'>CEO, TATA Bluescope Steel</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Prof. Somnath Basu
              </h2>
              <p class='text-gray-500'>IIT Bombay</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Prof. Samit K. Roy
              </h2>
              <p class='text-gray-500'>IIT Kharagpur</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Dr. Sandip Ghosh Choudhury
              </h2>
              <p class='text-gray-500'>Chief Scientist, CSIR-NML</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Mr. S.K Dutta
              </h2>
              <p class='text-gray-500'>
                MD, Duttcon Consultant & Enigineers, Kolkata
              </p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Dr. Supriyo Bera
              </h2>
              <p class='text-gray-500'>
                HOD, Metallurgical Engineering, NIT Durgapur
              </p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Prof. Karabi Das
              </h2>
              <p class='text-gray-500'>
                HOD, Metallurgical Engineering, IIT Kharagpur
              </p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Prof. Sutapa Roy Ramanan
              </h2>
              <p class='text-gray-500'>BITS Pilani (Goa Campus)</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Prof. D Ravi Kumar
              </h2>
              <p class='text-gray-500'>IIT Delhi</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Technical Committee -->
    <div class='flex flex-col'>
      <h1 class='text-3xl text-center my-8 text-black font-bold'>
        Technical Committee
      </h1>
      <div class='flex flex-wrap -m-2 justify-center items-center'>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Prof. Rajib Dey
              </h2>
              <p class='text-gray-500'>Jadavpur University</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Dr. Soumitra Tarafdar (retd)
              </h2>
              <p class='text-gray-500'>CSIR NML, Jamshedpur</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Prof. Nikkam Suresh
              </h2>
              <p class='text-gray-500'>ISM Dhanbad</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Prof. Kaushik Biswas
              </h2>
              <p class='text-gray-500'>IIT Kharagpur</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Prof. SC Patnaik
              </h2>
              <p class='text-gray-500'>IGITS, Sarang, Odisha</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Prof. Amitava Basu Mallik
              </h2>
              <p class='text-gray-500'>IIEST, Shibpur</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Prof. Bankim Roy
              </h2>
              <p class='text-gray-500'>NIT Rourkela</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Dr. Satadal Ghorai
              </h2>
              <p class='text-gray-500'>NIT Durgapur</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Dr. Samir Chandra Roy
              </h2>
              <p class='text-gray-500'>IIT Ropar</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Dr. Sibnath Kayal
              </h2>
              <p class='text-gray-500'>OP Jindal University</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Organizing Committee -->
    <div class='flex flex-col'>
      <h1 class='text-3xl text-center my-8 text-black font-bold'>
        Organizing Committee
      </h1>
      <!-- Member -->
      <p
        class='flex flex-col justify-center items-center text-2xl font-bold pb-4'
      >
        Member
      </p>
      <div class='flex flex-wrap -m-2 justify-center items-center'>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Dr. Arijit Sinha
              </h2>
              <p class='text-gray-500'>
                Associate Professor, Kazi Nazrul University
              </p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Dr. Chanchal Biswas
              </h2>
              <p class='text-gray-500'>
                Assistant Professor, Kazi Nazrul University
              </p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Dr. Gurudas Mandal
              </h2>
              <p class='text-gray-500'>
                Assistant Professor, Kazi Nazrul University
              </p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Mrs. Barnali Sengupta
              </h2>
              <p class='text-gray-500'>
                Assistant Professor, Kazi Nazrul University
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Hospitality -->
      <p
        class='flex flex-col justify-center items-center text-2xl font-bold py-6'
      >
        Hospitality
      </p>
      <div class='flex flex-wrap -m-2 justify-center items-center'>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Ms. Amrita Bhattacharya
              </h2>
              <p class='text-gray-500'>Kazi Nazrul University</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Mr. Somnath Dutta
              </h2>
              <p class='text-gray-500'>Kazi Nazrul University</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Mr. Sumit Dey
              </h2>
              <p class='text-gray-500'>Kazi Nazrul University</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Mr. Sagir Khan
              </h2>
              <p class='text-gray-500'>Kazi Nazrul University</p>
            </div>
          </div>
        </div>
      </div>
      <!-- IT Support -->
      <p
        class='flex flex-col justify-center items-center text-2xl font-bold py-6'
      >
        IT Support
      </p>
      <div class='flex flex-wrap -m-2 justify-center items-center'>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Mr. Ashif Ahamed
              </h2>
              <p class='text-gray-500'>Kazi Nazrul University</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Mr. Sourav Jana
              </h2>
              <p class='text-gray-500'>Kazi Nazrul University</p>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>Suman Mondal</h2>
              <p class='text-gray-500'>
                Student, Dept. of Computer Science & Engineering, KNU
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Student Member -->
      <p
        class='flex flex-col justify-center items-center text-2xl font-bold py-6'
      >
        Student Member
      </p>
      <div class='flex flex-wrap -m-2 justify-center items-center'>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Agradip Acharya
              </h2>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>Girish Roy</h2>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Subhasish Saha
              </h2>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Ananya Adhikary
              </h2>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>Anuparna Das</h2>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>Rittik Ghosh</h2>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Snehanjali Mukherjee
              </h2>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Suresh Naskar
              </h2>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>Abhishek Nag</h2>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Kunal Chandra
              </h2>
            </div>
          </div>
        </div>
        <div class='p-2 lg:w-1/3 md:w-1/2 w-full'>
          <div
            class='h-full flex items-center border-gray-200 border p-4 rounded-lg'
          >
            <div class='flex-grow'>
              <h2 class='text-gray-900 title-font font-medium'>
                Indrajit Ghanta
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
