<section class='text-gray-200 bg-zinc-9'>
  <div
    class='max-w-7xl container mx-auto flex px-5 py-24 md:flex-row flex-col items-center'
  >
    <div class='lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0'>
      <img
        class='object-cover object-center rounded-md'
        alt='hero'
        src='/assets/images/invitation.webp'
      />
    </div>
    <div
      class='lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center'
    >
      <h1 class='font-sans sm:text-3xl text-2xl mb-4 font-medium text-gray-100'>
        Welcome to the International Conference on Processing of Minerals,
        Metals, and Materials
      </h1>
      <p class='mb-8 leading-relaxed'>
        Kolkata 2023! Join us for this esteemed event organized by Kazi Nazrul
        University Metallurgy Engineering Department, where researchers,
        industry experts, and professionals converge to explore the latest
        advancements in metallurgy engineering and the processing of minerals,
        metals, and materials. Don't miss the opportunity to showcase your
        research papers, network with global experts, and be part of shaping the
        future of this field. Register now and secure your place at this premier
        conference.
      </p>
    </div>
  </div>
  <div class='absolute w-full h-20 md:-mt-5'>
    <svg
      viewBox='0 0 1440 111.98777'
      version='1.1'
      xmlns='http://www.w3.org/2000/svg'
    >
      <defs id='defs16'></defs>
      <path
        fill='#0099ff'
        fill-opacity='1'
        d='M 0,72 40,52 C 75.777088,34.111456 160,12 240,22.7 320,33 400,73 480,83.3 560,94 640,94 720,67.3 800,41 818.39702,44.000337 960,24.7 c 141.603,-19.3003372 159.9998,1.499968 240,12 80.0002,10.500032 144.0059,13.849608 200,8.6 55.9941,-5.249608 40,-5.3 40,-5.3 V 0 H 1400 1200 960 720 480 240 40 0 Z'
        id='path10'
        style='fill:#18181b;fill-opacity:1'></path>
      <path
        fill='#0099ff'
        fill-opacity='1'
        d='M 0,72 40,52 C 75.777088,34.111456 160,32 240,42.7 320,53 400,95 480,105.3 560,116 640,116 720,89.3 800,63 880,49 960,38.7 c 80,-10.7 160,1.3 240,12 80,10.3 160,0.3 200,-5.4 L 1440,40 V 0 H 1400 1200 960 720 480 240 40 0 Z'
        id='path272'
        style='fill:#18181b;fill-opacity:0.47999999'></path>
      <path
        fill='#0099ff'
        fill-opacity='1'
        d='M 0,72 54.344069,52 C 91.882609,38.184862 160,24 240,34.7 320,45 400,87 480,97.3 560,108 674,116 754,89.3 834,63 880,45 960,34.7 1040,24 1120,50 1200,60.7 1280,71 1360,41 1400,35.3 l 40,4.7 V 0 H 1400 1200 960 720 480 240 40 0 Z'
        id='path951'
        style='fill:#18181b;fill-opacity:0.54'></path>
    </svg>
  </div>
</section>
