<footer class='text-gray-600'>
  <div
    class='max-w-7xl container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col'
  >
    <div class='w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left'>
      <a
        class='flex font-sans font-medium items-center md:justify-start justify-center text-gray-900'
      >
        <span class='text-xl text-sans'>ICPMMM 2024</span>
      </a>
      <p class='mt-2 text-sm text-gray-500'>
        Join the prestigious International Conference on Processing of Minerals,
        Metals, and Materials in Kolkata, organized by Department of
        Metallurgical Engineering, Kazi Nazrul University.
      </p>
    </div>
    <div
      class='flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center'
    >
      <div class='lg:w-1/4 md:w-1/2 w-full px-4'>
        <h2
          class='font-sans font-medium text-gray-900 tracking-widest text-sm mb-3 hover:text-gray-5'
        >
          <a href='/'>Home</a>
        </h2>
        <nav class='list-none mb-10'>
          <li>
            <a href='/' class='text-gray-600 hover:text-gray-800'
              >Introduction</a
            >
          </li>
          <li>
            <a href='/' class='text-gray-600 hover:text-gray-800'
              >Special Attraction</a
            >
          </li>
          <li>
            <a href='/' class='text-gray-600 hover:text-gray-800'>Pricing</a>
          </li>
          <li>
            <a href='/' class='text-gray-600 hover:text-gray-800'>Sponsors</a>
          </li>
          <li>
            <a href='/' class='text-gray-600 hover:text-gray-800'>Locate Us</a>
          </li>
        </nav>
      </div>
      <div class='lg:w-1/4 md:w-1/2 w-full px-4'>
        <h2
          class='font-sans font-medium text-gray-900 tracking-widest text-sm mb-3 hover:text-gray-5'
        >
          <a href='/papers'>Abstracts & Papers</a>
        </h2>
        <nav class='list-none mb-10'>
          <li>
            <a href='/papers' class='text-gray-600 hover:text-gray-800'
              >Call for Papers</a
            >
          </li>
          <li>
            <a href='/papers' class='text-gray-600 hover:text-gray-800'
              >Call for Abstracts</a
            >
          </li>
          <li>
            <a href='/papers' class='text-gray-600 hover:text-gray-800'
              >Guidelines</a
            >
          </li>
          <li>
            <a href='/papers' class='text-gray-600 hover:text-gray-800'
              >Opportunity</a
            >
          </li>
          <li>
            <a href='/papers' class='text-gray-600 hover:text-gray-800'
              >Key Dates</a
            >
          </li>
        </nav>
      </div>
      <div class='lg:w-1/4 md:w-1/2 w-full px-4'>
        <h2
          class='font-sans font-medium text-gray-900 tracking-widest text-sm mb-3 hover:text-gray-5'
        >
          <a href='/committees'>Committees</a>
        </h2>
        <nav class='list-none mb-10'>
          <li>
            <a
              href='/committees#patrons'
              class='text-gray-600 hover:text-gray-800'>Patrons</a
            >
          </li>
          <li>
            <a
              href='/committees#chairman'
              class='text-gray-600 hover:text-gray-800'>Chairman</a
            >
          </li>
          <li>
            <a
              href='/committees#advisory_committee'
              class='text-gray-600 hover:text-gray-800'>Advisory Committee</a
            >
          </li>
          <li>
            <a
              href='/committees#technical_committee'
              class='text-gray-600 hover:text-gray-800'>Technical Committee</a
            >
          </li>
          <li>
            <a
              href='/committees#organizing_committee'
              class='text-gray-600 hover:text-gray-800'>Organizing Committee</a
            >
          </li>
        </nav>
      </div>
      <div class='lg:w-1/4 md:w-1/2 w-full px-4'>
        <h2
          class='font-sans font-medium text-gray-900 tracking-widest text-sm mb-3 hover:text-gray-5'
        >
          <a href='/about'>About</a>
        </h2>
        <nav class='list-none mb-10'>
          <li>
            <a href='/about' class='text-gray-600 hover:text-gray-800'
              >College</a
            >
          </li>
          <li>
            <a href='/about' class='text-gray-600 hover:text-gray-800'>Event</a>
          </li>
        </nav>
      </div>
    </div>
    <!-- Site Visit Counter -->
    <div class='flex justify-center items-center pt-12'>
      <p class='text-lg'>Website Visits: <span id='count'></span></p>
      <!-- hitwebcounter Code START -->
      <!-- <a href='https://www.hitwebcounter.com' target='_blank'>
        <img
          src='https://hitwebcounter.com/counter/counter.php?page=9250306&style=0018&nbdigits=4&type=ip&initCount=400'
          title='Counter Widget'
          Alt='Visit counter For Websites'
          border='0'
        /></a
      > -->
      <a href='https://www.freecounterstat.com' title='website counter'
        ><img
          src='https://counter6.optistats.ovh/private/freecounterstat.php?c=atwa79bkwe5ewug6sg1hw9duq19r8ru6'
          border='0'
          title='website counter'
          alt='website counter'
        /></a
      >
    </div>
  </div>
  <div class='bg-gray-100'>
    <div
      class='max-w-7xl container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row'
    >
      <p class='text-gray-500 text-sm text-center sm:text-left'>
        © ICPMMM 2024 —
        <a rel='noopener noreferrer' class='text-gray-600 ml-1' target='_blank'
          >All Rights Reserved
        </a>
        <span>
          | Site Maintained by <a
            href='https://www.linkedin.com/in/thatsuman/'
            class='text-gray-800 hover:text-gray-500'>Suman Mondal</a
          ></span
        >
      </p>
      <span
        class='inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start'
      >
        <!-- <a
          href='https://github.com/thatsuman/icpmmm2024'
          class='ml-3 text-gray-500'
        >
          <div class='i-iconoir-github'></div>
        </a> -->
        <a
          href='https://www.linkedin.com/school/kazi-nazrul-university-asansol/'
          class='ml-3 text-gray-500'
        >
          <div class='i-iconoir-linkedin'></div>
        </a>
        <a href='mailto:icpmmm2024@gmail.com' class='ml-3 text-gray-500'>
          <div class='i-iconoir-mail'></div>
        </a>
      </span>
    </div>
  </div>
</footer>
