<footer class='text-gray-600'>
  <div
    class='max-w-7xl container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col'
  >
    <div class='w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left'>
      <a
        class='flex font-sans font-medium items-center md:justify-start justify-center text-gray-900'
      >
        <span class='text-xl text-sans'>ICPMMM 2024</span>
      </a>
      <p class='mt-2 text-sm text-gray-500'>
        Join the prestigious International Conference on Processing of Minerals,
        Metals, and Materials in Kolkata, organized by Kazi Nazrul University
        Metallurgy Engineering Department.
      </p>
    </div>
    <div
      class='flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center'
    >
      <div class='lg:w-1/4 md:w-1/2 w-full px-4'>
        <h2
          class='font-sans font-medium text-gray-900 tracking-widest text-sm mb-3'
        >
          Home
        </h2>
        <nav class='list-none mb-10'>
          <li>
            <a class='text-gray-600 hover:text-gray-800'>Introduction</a>
          </li>
          <li>
            <a class='text-gray-600 hover:text-gray-800'>Invitation</a>
          </li>
          <li>
            <a class='text-gray-600 hover:text-gray-800'>Pricing</a>
          </li>
          <li>
            <a class='text-gray-600 hover:text-gray-800'>Sponsors</a>
          </li>
          <li>
            <a class='text-gray-600 hover:text-gray-800'>Locate Us</a>
          </li>
        </nav>
      </div>
      <div class='lg:w-1/4 md:w-1/2 w-full px-4'>
        <h2
          class='font-sans font-medium text-gray-900 tracking-widest text-sm mb-3'
        >
          Abstracts & Papers
        </h2>
        <nav class='list-none mb-10'>
          <li>
            <a class='text-gray-600 hover:text-gray-800'>Call for Papers</a>
          </li>
          <li>
            <a class='text-gray-600 hover:text-gray-800'>Call for Abstracts</a>
          </li>
          <li>
            <a class='text-gray-600 hover:text-gray-800'>Guidelines</a>
          </li>
          <li>
            <a class='text-gray-600 hover:text-gray-800'>Opportunity</a>
          </li>
          <li>
            <a class='text-gray-600 hover:text-gray-800'>Key Dates</a>
          </li>
        </nav>
      </div>
      <div class='lg:w-1/4 md:w-1/2 w-full px-4'>
        <h2
          class='font-sans font-medium text-gray-900 tracking-widest text-sm mb-3'
        >
          Committees
        </h2>
        <nav class='list-none mb-10'>
          <li>
            <a class='text-gray-600 hover:text-gray-800'>Patrons</a>
          </li>
          <li>
            <a class='text-gray-600 hover:text-gray-800'>Chairman</a>
          </li>
          <li>
            <a class='text-gray-600 hover:text-gray-800'>Committee</a>
          </li>
        </nav>
      </div>
      <div class='lg:w-1/4 md:w-1/2 w-full px-4'>
        <h2
          class='font-sans font-medium text-gray-900 tracking-widest text-sm mb-3'
        >
          About
        </h2>
        <nav class='list-none mb-10'>
          <li>
            <a class='text-gray-600 hover:text-gray-800'>College</a>
          </li>
          <li>
            <a class='text-gray-600 hover:text-gray-800'>Event</a>
          </li>
        </nav>
      </div>
    </div>
  </div>
  <div class='bg-gray-100'>
    <div
      class='max-w-7xl container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row'
    >
      <p class='text-gray-500 text-sm text-center sm:text-left'>
        © ICPMMM 2024 —
        <a
          href='https://twitter.com/knyttneve'
          rel='noopener noreferrer'
          class='text-gray-600 ml-1'
          target='_blank'>All Rights Reserved</a
        >
      </p>
      <span
        class='inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start'
      >
        <a class='text-gray-500'>
          <div class='i-iconoir-facebook'></div>
        </a>
        <a class='ml-3 text-gray-500'>
          <div class='i-iconoir-twitter'></div>
        </a>
        <a class='ml-3 text-gray-500'>
          <div class='i-iconoir-linkedin'></div>
        </a>
        <a class='ml-3 text-gray-500'>
          <div class='i-iconoir-mail'></div>
        </a>
      </span>
    </div>
  </div>
</footer>
