<header class='text-gray-600 body-font'>
  <div
    class='max-w-7xl container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center'
  >
    <a
      class='flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0'
    >
      <span class='text-xl font-sans'>ICPMMM2024</span>
    </a>
    <nav
      class='md:ml-auto flex flex-wrap items-center text-base justify-center'
    >
      <a href='/' class='mr-5 hover:text-gray-900'>Home</a>
      <a href='/papers' class='mr-5 hover:text-gray-900'>Abstract & Papers</a>
      <a href='/committees' class='mr-5 hover:text-gray-900'>Committees</a>
      <a href='#' class='mr-5 hover:text-gray-900'>Downloads</a>
      <a href='/about' class='mr-5 hover:text-gray-900'>About</a>
      <a href='/contact' class='mr-5 hover:text-gray-900'>Contact</a>
    </nav>
    <a href='/registration'
      ><button
        class='inline-flex items-center bg-orange-500 text-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-orange-600 rounded-sm text-base mt-4 md:mt-0'
        >Registration
      </button></a
    >
  </div>
</header>
