<section
  class='text-gray-200 bg-(no-repeat cover blend-overlay) bg-dark/120'
  id='hero'
>
  <div
    class='max-w-7xl container mx-auto flex px-5 py-24 items-center justify-center flex-col min-h-4xl'
  >
    <div class='text-center lg:w-2/3 w-full'>
      <h1 class='font-sans sm:text-4xl text-3xl mb-4 font-600 text-gray-100'>
        International Conference on Processing of Minerals, Metals and
        Materials: Beyond Tomorrow
      </h1>
      <p class='mb-8 leading-relaxed'>
        Organized by <br /> Department of Metallurgical Engineering, Kazi Nazrul
        University, Asansol, India
        <br />
        In Association with <br /> National Institute of Technology, Durgapur, India
        and National Metallurgical Laboratory, Jamshedpur, India
      </p>
      <div class='flex flex-col space-y-2 justify-center'>
        <div class='flex items-center justify-center'>
          <div class='i-iconoir-calendar'></div>
          <p class='ml-2 font-sans uppercase text-lg font-600'>
            21 to 23rd February, 2024
          </p>
        </div>
        <div class='flex items-start justify-center'>
          <div class='i-iconoir-navigator-alt'></div>
          <p class='ml-2 font-sans uppercase text-lg'>
            Fairfield by Marriot, Kolkata, West Bengal, India
          </p>
        </div>
      </div>
      <a href='/registration'
        ><button
          class='inline-flex text-white bg-orange-500 border-0 py-2 px-8 focus:outline-none hover:bg-orange-600 rounded-sm text-lg mt-8'
          >Registration
        </button></a
      >
    </div>
    <style>
      #hero {
        background-image: url('/assets/images/metallurgy.webp');
      }
    </style>
  </div>
</section>
