<section
  class='text-gray-200 bg-(no-repeat cover blend-overlay) bg-dark/150'
  id='hero'
>
  <div
    class='max-w-7xl container mx-auto flex px-5 py-24 items-center justify-center flex-col min-h-4xl'
  >
    <div class='text-center lg:w-2/3 w-full'>
      <!-- Conference Heading -->
      <h1 class='font-sans sm:text-4xl text-3xl mb-4 font-600 text-gray-100'>
        International Conference on Processing of Minerals, Metals and Materials
        : <br />Beyond Tomorrow
      </h1>
      <!-- KNU Title -->
      <p class='mb-5 leading-relaxed'>
        Organized by <br />
        <div class='flex flex-col justify-center items-center'>
          <img
            class='h-27 w-25 mb-5'
            src='../../assets/images/Kazi_Nazrul_University_Logo.webp'
            alt='Kazi_Nazrul_University_Logo'
          />
          <p class='text-2xl'>
            Department of Metallurgical Engineering, <br />
            Kazi Nazrul University, Asansol, India
          </p>
        </div>
        <br />
        <!-- Associate Orgs Title -->
        In Association with <br />
        <div class='justify-center items-center'>
          <div
            class='flex flex-row justify-center items-center my-5 space-x-10'
          >
            <!-- IIM KNU Logo -->
            <img
              class='h-14 w-25'
              src='../../assets/images/IIM_KNU.png'
              alt='Jadavpur University Logo'
            />
            <!-- NIT Durgapur Logo -->
            <img
              class='h-15 w-15'
              src='../../assets/images/nit_logo.webp'
              alt='NIT Durgapur Logo'
            />
            <!-- Remove Jadavpur University Logo -->
            <!-- <img
              class='h-15 w-15'
              src='../../assets/images/ju_logo.webp'
              alt='Jadavpur University Logo'
            /> -->
          </div>
          <p class='text-lg'>
            KNU - IIM Student Chapter, Kazi Nazrul University, Asansol, India
            <br />
            and
            <br />
            Department of Metallurgical & Materials Engineering <br /> National Institute
            of Technology, Durgapur, India
          </p>
        </div>
      </p>
      <div class='flex flex-col space-y-2 justify-center mt-6'>
        <div class='flex items-center justify-center'>
          <div class='i-iconoir-calendar'></div>
          <p class='ml-2 font-sans uppercase text-xl font-600'>
            28 to 29th March, 2024
          </p>
        </div>
        <div class='flex items-start justify-center'>
          <div class='i-iconoir-navigator-alt'></div>
          <p class='ml-2 font-sans uppercase text-xl'>
            Science City, Kolkata, India
          </p>
        </div>
      </div>
      <a href='/registration'
        ><button
          class='inline-flex text-white bg-orange-500 border-0 py-2 px-8 focus:outline-none hover:bg-orange-600 rounded-sm text-lg mt-8'
          >Registration
        </button></a
      >

      <div class='flex flex-col space-y-2 justify-center mt-6'>
        <!-- <div class='text-xl'>Abstract Submission Date Extended to:</div> -->
        <p id='blink_text'>Abstract Submission is Still Open</p>
      </div>
    </div>
    <style>
      #hero {
        background-image: url('/assets/images/hero_banner.webp');
      }

      #blink_text {
        animation-name: blink;
        font-size: large;
        font-weight: bold;
        width: auto;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        animation-iteration-count: Infinite;
      }

      @keyframes blink {
        0% {
          color: red;
        }
        50% {
          color: white;
        }
        100% {
          color: red;
        }
      }
    </style>
  </div>
</section>
